<!DOCTYPE html>
<html lang="en" ng-app="appm">
<head>
    <title>Lipatov</title>

    <meta charset="utf-8">

    <link rel="stylesheet" href="build/index.css?v=2014.12.14-19:44:40">
    <!--<link rel="stylesheet" href="lib/leaflet/leaflet.css">-->

	<!--<script src="lib/jQuery/jquery-1.11.0.min.js"></script>
    <script src="lib/jQuery/jquery.scrollNav.min.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular/angular-route.min.js"></script>
	<script src="lib/angular/angular-animate.js"></script>
    <script src="lib/angular/angular-sanitize.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/dirrectiveSkill.js"></script>
    <script src="module/contact/contact.js"></script>
    <script src="lib/leaflet/leaflet.js"></script>-->



    <script src="build/scripts.min.js?v=2014.12.14-19:44:40"></script>
</head>
<body>


    <!--<div class="body" data-ng-include data-src="'partial/block.html'"></div>-->

    <div>
        <div class="back">
            <div class="back-head" style=" height: 100px; position: relative; border-bottom: 2px solid white">
            </div>
            <div class="back-nav" style="height: 41px; position: relative">
            </div>
        </div>
        <div style="position: absolute; width: 100%">
            <div class="main-block">
                <div class="contact-to-print">
                    <div class="item">
                        <div style="text-align: right">
                            <div>
                                <h3> Maxim Lipatov</h3>
                            </div>
                               <p>Adress Ukraine, Kiev</p>

                            <p>Mobile Phone +38098 556-6570 </p>

                            <p>e-mail: lmaxim@mail.ru </p>
                        </div>

                    </div>
                </div>
                <div ng-controller="nav">
                    <div class="head no-print" directive-name="lang">
                        <div class="action">
                            <div class="inline-block">
                                {{langPpd.release}} {{langPpd.releaseDate}}
                            </div>
                            <div class="download">
                                <a class=" no-print" href="{{olo}}" download="CV_Lipatov">{{download}} </a>
                            </div>
                            <select ng-model="lang" ng-change="chLang('{{lang}}')">
                                <option value="ru">Ru</option>
                                <option value="en">En</option>
                            </select>
                        </div>
                    </div>
                    <div class="book" style=" border-top: 1px solid transparent">
                        <div class="nav-panel no-print" style="margin-top: 10px" >
                            <div >
                                <a class="{{nav.active}}"   ng-repeat="nav in navs" navs-elements href="{{nav.href}}">
                                    {{nav.t}}
                                </a>
                            </div>
                        </div>
                        <div style="clear: both;"  class="view-container" kkk>
                            <div ng-view  class="view-frame">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>