<div>
	<div class="back">
		<div class="back-head" style=" height: 100px; position: relative; border-bottom: 2px solid white">

		</div>
		<div class="back-nav" style="height: 41px; position: relative">


		</div>
	</div>
	<div style="position: absolute; width: 100%">
		<div class="main-block">
			<div ng-controller="nav">
				<div class="head" directive-name="lang">

					<select ng-model="lang" ng-change="chLang('{{lang}}')">
						<option value="ru">Ru</option>
						<option value="en">En</option>
					</select>
				</div>
				<div class="book" style=" border-top: 1px solid transparent">

					<div class="nav-panel" style="margin-top: 10px" >
						<div  >
							<a class="{{cl[$index]}}"  ng-init="initEl(this)" ng-repeat="nav in navs" href="{{nav.href}}">
                                {{nav.t}}

                            </a>
						</div>
					</div>

					<div style="clear: both;"  class="view-container" kkk>
						<div ng-view  class="view-frame">
							<!--{{nav.home}}-->
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>


</div>