.sprite-orbit
    #featured(orbit="")
        img(src="module/web/bike-atlas/bike-atlas.png" alt="Overflow: Hidden No More")
        img(src="module/web/bike-atlas/bike-atlas2.jpg" alt="Overflow: Hidden No More")
        img(src="module/web/bike-atlas/bike-atlas3.jpg" alt="Overflow: Hidden No More")
        img(src="module/web/bike-atlas/bike-atlas4.png" alt="Overflow: Hidden No More")

